<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 

                Implement a way to filter through listings using the search bar 

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Type here to search" ng-model="searchTerm" debounce="500" immediate="true" ng-change="filterResults()" ng-click="clearSearch()">
            <span class="input-group-addon" id="sizing-addon2"><a class="clear" ng-click="clearSearch()">
              <span class="glyphicon glyphicon-remove"></span>
            </a></span>
          </div>
          <br>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                --> 
                
                
                  <tr ng-repeat="building in lt" ng-click="showDetails($index)" ng-mouseover="showDetails($index)">
                    <td>{{building.code}}</td>
                    <td>{{building.name}}</td>
                    <td>
                      <a class="clear"  ng-click="deleteListing($index)">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                      </a>
                    </td>
                  </tr>
               
            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
            <br>
            <h4>Add a New Listing</h4>
            <form name="newListingForm" ng-submit="addListing(newListing)">
              <fieldset class="form-group">
                <input class="form-control" ng-model="newListing.code" type="text" placeholder="Building Code" size="5" maxlength="5">
                <input class="form-control" ng-model="newListing.name" type="text" placeholder="Building Name">
                <input class="form-control" ng-model="newListing.address" type="text" placeholder="Building Address">
                <input class="form-control" ng-model="newListing.coordinates.latitude" placeholder="Latitude">
                <input class="form-control" ng-model="newListing.coordinates.longitude" placeholder="Longitude">
                <input type="submit" class="btn btn-primary pull-right" value="Add Listing" />
              </fieldset> 
               
            </form>
            
        </div>
        <br>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Detailed Information</h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
             <ul ng-show="showDetailsPane">
                <li>Building Code: {{detailsCode}}</li>
                <li>Building Name: {{detailsName}}</li>
                <li>Building Address: {{detailsAddress}}</li>
                <li>Coordinates: 
                   <ul>
                     <li>decimal latitude: {{detailsLatitude}}</li>
                     <li>decimal longitude: {{detailsLongitude}}</li>
                   </ul>
             </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>